:root {
    --primary: #8F0000;
    --secondary: #F30000;
  }

/* rules */

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

body{
    font-family: "Montserrat", sans-serif;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

hr{
    height: 0;
    color: inherit;
    border-top-width: 1px;
    color: #F30000;
}

/* utils */


.bg-primary{
    background-color: var(--primary);

}

.bg-secondary{
    background-color: var(--secondary);
}

.text-primary{
    color: var(--primary);
}

.container{
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

.title-page{
    text-transform: uppercase;
    font-weight: 600;
    font-style: italic;
    padding-bottom: 1rem;
    text-align: center;
    padding-top: 5rem;
}

/* navbvar */

.navbar{
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 1rem;
}

.navbar img{
    width: 18rem;
}

.items-navbar{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 2.5rem;
    padding-right: 5rem;
    font-weight: 700;
}

.items-navbar a{
    color: white;
}

/* Hero */

.hero{
    display: grid;
    position: relative;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    background-color: black;
}

.content-hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.main-title{
    color: white;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-style: italic;
}

.main-description{
    color: white;
    width: 66.66%;
    text-align: center;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 1rem;
}

.img-hero{
    grid-column: span 2 / span 2;
}

.more-options{
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 5rem;
}

.more-options-bar{
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: 66.66%;
    border-radius: 6px;
}

.option-item{
    border-right: 2px solid var(--secondary);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
    color: var(--primary);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: 700;
}

/* News */

.card-block{
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
    row-gap: 2.5rem;
}

.card-news{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    border-radius: 6px;
    border: 2px solid var(--primary);
    padding: 1.5rem;
}

.image-card{
    width: 84%;
}

.card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1.25rem;
}

.title-card-news{
    color: var(--primary);
    font-weight: 700;
    text-align: center;
}

.text-card-news{
    font-weight: 600;
    text-align: center;
}

.youtube-div{
    display: flex;
    justify-content: center;
}

.youtube-news{
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 2rem;
    row-gap: 1.5rem;
}

/* Motorcycles */
.motos-div{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 2.5rem;
    margin-right: 1rem;
    margin-left: 1rem;
    padding-top: 2.5rem;
}

.motos-div .card{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    row-gap: 0.75rem;
}

.bg-moto{
    background-color: rgb(229 231 235);
    border-radius: 78px;
}

.bg-moto img{
    height: auto;
    border-radius: 6px;
    padding: 2rem;
}

.moto-title{
    text-align: center;
    text-transform: uppercase;
    color: var(--primary);
    padding-bottom: 1rem;
}

.moto-description{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    row-gap: 0.5rem;
    font-weight: 700;
}



/* footer */

.footer{
    background-color: var(--secondary);
    height: 5rem;
}

.moto-title{
    color: var(--primary);
    font-weight: 800;
    font-style: italic;
}

.button-more-moto{
    background-color: var(--primary);
}

